{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block header %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">Home</a>
  </li>
</ul>
{% endblock %} {% block content %}
<div class="container-fluid">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert" aria-label="close">x</button>
    {{message}}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

</div>

<div class="container-fluid">
  {{wtf.quick_form(form)}}
</div>

{% if heading|lower =='login' %}
<div class="container-fluid">
  <p>New user? <a href="{ url_for('user/register') }">Click here to register</a>.</p>
</div>
{% endif %}
{% endblock %}
