{% extends "base.html" %}{% block header %}
<li class="nav-item">
  <a class="nav-link active" href="{{ url_for('main.content.list_items') }}"
    >Home</a
  >
</li>
{% endblock %} {% block content %}

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">{{ code }} Error Occurred.</h1>
      <h2 class="fw-light">{{ name }}</h2>
      <p class="fw-light">{{ description }}</p>
    </div>
  </div>
</section>
{% endblock %}
