{% extends "base.html" %}{% block header %}
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('main.content.list_items') }}">Home</a>
</li>
<li class="nav-item">
  <a
    class="nav-link active"
    href="{{ url_for('main.content.details', event_id=event_id) }}"
    >Detail</a
  >
</li>
{% if current_user.role == 'administrator' %}
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('main.admin.create_event') }}"
    >Create new event</a
  >
</li>
{% endif %}
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('main.order.booking_history') }}"
    >Booking History</a
  >
</li>
{% endblock %} {% block content %}
<div class="b-divider"></div>
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        class="rounded-lg-3"
        height="384"
        width="384"
        class="img-fluid"
        src="{{ url_for('static', filename=event.id) }}"
        class="d-block mx-lg-auto img-fluid"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">{{ event.name }}</h1>
      <p class="lead">{{ event.description }}</p>
    </div>
  </div>
</div>
<div class="container col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <p class="col-lg-10 fs-4 fw-bold">{{ event.name }}</p>
      <p class="lead">{{ event.description }}</p>
      <p class="col-lg-10 fs-4">Type: {{ event.type }}</p>
      <p class="col-lg-10 fs-4">Date & Time: {{ dt }}</p>
      <p class="col-lg-10 fs-4">Artist: {{ event.artist }}</p>
      <p class="col-lg-10 fs-4">Venue: {{ event.venue }}</p>
      <p class="col-lg-10 fs-4">
        Ticket remains: <strong>{{ remain_tickets }}</strong>
      </p>
      <p class="col-lg-10 fs-4">
        Price per ticket: <strong>${{ event.price }}</strong>
      </p>
      <p class="col-lg-10 fs-4">Status: {{ event.status }}</p>
      <p class="col-lg-10 fs-4">Creator: {{ creator }}</p>
      {% if current_user.role == 'administrator' %}
      <a href="{{ url_for('main.admin.update_event', event_id=event_id) }}">
        <button type="button" class="btn btn-primary">
          Update event details
        </button></a
      >
      <a href="{{ url_for('main.admin.delete_event', event_id=event_id) }}">
        <button type="button" class="btn btn-primary">Delete event</button></a
      >
      {% endif %}
    </div>

    <div class="col-md-10 mx-auto col-lg-5">
      <form
        class="p-4 p-md-5 border rounded-3 bg-light"
        action="{{ url_for('main.order.book', event_id=event_id) }}"
        method="POST"
      >
        <h4 class="mb-3">Order Now</h4>
        <div
          class="modal fade"
          id="quantityModal"
          tabindex="-1"
          aria-labelledby="quantityModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="quantityModalLabel">
                  Enter Quantity
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="form-floating">
                  <input
                    type="number"
                    class="form-control"
                    id="quantity"
                    name="quantity"
                    value="1"
                    required
                  />
                  <label for="quantity">Quantity</label>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                >
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#quantityModal"
          >
            Enter Quantity
          </button>
        </div>

        <div class="my-3">
          <div class="form-check">
            <input
              id="cash"
              name="payment"
              value="cash"
              type="radio"
              class="form-check-input"
              checked
              required
            />
            <label class="form-check-label" for="cash">Cash</label>
          </div>
          <div class="form-check">
            <input
              id="paypal"
              name="payment"
              value="paypal"
              type="radio"
              class="form-check-input"
              required
            />
            <label class="form-check-label" for="paypal">PayPal</label>
          </div>
          <div class="form-check">
            <input
              id="alipay"
              name="payment"
              value="alipay"
              type="radio"
              class="form-check-input"
              required
            />
            <label class="form-check-label" for="alipay">AliPay</label>
          </div>
        </div>

        <hr class="my-4" />

        <button
          class="w-100 btn btn-lg btn-primary"
          type="submit"
        >
          BOOK NOW!
        </button>
        <hr class="my-4" />

        <small class="text-muted"
          >By clicking BOOK NOW!, you agree to the terms of use.</small
        >
      </form>
    </div>
  </div>
</div>

<div class="b-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
  <h2>Comments</h2>
  <div
    id="comments"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner text-center">
      {% for group in comments %}
      <div class="carousel-item {% if group[1] == 0 %} active {% endif %}">
        <div class="row">
          {% for item in group[0] %}
          <div class="col-lg-4">
            <img
              class="rounded-circle"
              width="140"
              height="140"
              src="{{ url_for('static', filename='ava.png') }}"
            />
            <h2>{{ item.username }}</h2>
            <p>{{ item.text }}</p>
            <p>{{ item.dt }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#comments"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#comments"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
  <h2>Post new comment</h2>
  <form
    class="row g-3"
    action="{{ url_for('main.content.new_comment', event_id=event_id) }}"
    method="POST"
  >
    <div class="form-floating col-12">
      <textarea
        class="form-control"
        placeholder="Leave a comment here"
        id="comment"
        name="comment_text"
        style="height: 100px"
      ></textarea>
      <label for="comment">Leave a comment here</label>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
{% endblock %}
