{% extends "base.html" %}{% block header %}
<li class="nav-item">
  <a class="nav-link active" href="{{ url_for('main.content.list_items') }}"
    >Home</a
  >
</li>
{% if current_user.role == 'administrator' %}
<li class="nav-item">
  <a class="nav-link active" href="{{ url_for('main.admin.create_event') }}">Create new event</a>
</li>
{% endif %}
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('main.order.booking_history') }}"
    >Booking History</a
  >
</li>
{% endblock %} {% block content %}
<nav aria-label="Page navigation">
    <ul class="box" style="list-style-type:none; width: auto; height: 25px;background-color: #3b3b3b; margin: 0px;padding-left: 20%; text-align: center;">
      <li style="float: left;  width: 150px;padding: 0px;padding:0px;margin-right: 1%;font-size: 15px;">
        <a style="color: white;" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="active" style="float: left;  width: 150px;padding: 0px;margin-right: 1%;font-size: 16px;"><a style="color: lightgrey;" href="#">Vocal concerts</a></li>
      <li style="float: left;  width: 150px;padding: 0px;margin-right: 1%;font-size: 16px;"><a style="color: white;" href="#"></a></li>
      <li style="float: left;  width: 150px;padding: 0px;margin-right: 1%;font-size: 16px;"><a style="color: white;" href="#">Classical concerts</a></li>
      <li style="float: left;  width: 150px;padding: 0px;margin-right: 1%;font-size: 16px;"><a style="color: white;" href="#">Pop concerts</a></li>
      <li style="float: left;  width: 150px;padding: 0px;margin-right: 1%;font-size: 16px;">
        <a style="color: white;" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
<section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Vocal concerts</h1>
                </div>
            </div>
        </section>
        <div class="py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top" width="100%" height="225" src="imgs/v1.webp">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
                                    massa mauris, laoreet ac egestas ut, vehicula ut elit.
                                    Donec sit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ url_for('main.content.details') }}">
                                            <button" class="btn btn-sm btn-outline-secondary">Tell me more</button>
                                        </a>
                                        <a href="{{ url_for('main.admin.update_event') }}">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </a>
                                    </div>
                                </div>
                                <small class="text-muted">40$, Shanghai</small>
                                <small>Cancelled</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



{% endblock %}
