{% extends "base.html" %}{% block header %}
<li class="nav-item">
  <a class="nav-link active" href="{{ url_for('main.content.list_items') }}"
    >Home</a
  >
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('main.order.booking_history') }}"
    >Booking History</a
  >
</li>
{% endblock %} {% block content %}
<nav aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="active"><a href="#">Vocal concerts</a></li>
      <li><a href="#"></a></li>
      <li><a href="#">Classical concerts</a></li>
      <li><a href="#">Pop concerts</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
<section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Vocal concerts</h1>
                </div>
            </div>
        </section>
        <div class="py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top" width="100%" height="225" src="imgs/v1.webp">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
                                    massa mauris, laoreet ac egestas ut, vehicula ut elit.
                                    Donec sit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="details_and_booking_admin.html">
                                            <button" class="btn btn-sm btn-outline-secondary">Tell me more</button>
                                        </a>
                                        <a href="update_event.html">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </a>
                                    </div>
                                </div>
                                <small class="text-muted">40$, Shanghai</small>
                                <small>Cancelled</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top" width="100%" height="225" src="imgs/v2.webp">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
                                    massa mauris, laoreet
                                    ac egestas ut, vehicula ut elit.
                                    Donec sit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="details_and_booking_admin.html">
                                            <button" class="btn btn-sm btn-outline-secondary">Tell me more</button>
                                        </a>
                                        <a href="update_event.html">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </a>
                                    </div>
                                </div>
                                <small class="text-muted">20$, Beijing</small>
                                <small>Inactive</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top" width="100%" height="225" src="imgs/v3.webp">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
                                    massa mauris, laoreet
                                    ac egestas ut, vehicula ut elit.
                                    Donec sit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="details_and_booking_admin.html">
                                            <button" class="btn btn-sm btn-outline-secondary">Tell me more</button>
                                        </a>
                                        <a href="update_event.html">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </a>
                                    </div>
                                </div>
                                <small class="text-muted">91$, Shanghai</small>
                                <small>Upcoming</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top" width="100%" height="225" src="imgs/v4.webp">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
                                    massa mauris, laoreet
                                    ac egestas ut, vehicula ut elit.
                                    Donec sit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="details_and_booking_admin.html">
                                            <button" class="btn btn-sm btn-outline-secondary">Tell me more</button>
                                        </a>
                                        <a href="update_event.html">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </a>
                                    </div>
                                </div>
                                <small class="text-muted">68$, Nanjing</small>
                                <small>Booked</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top" width="100%" height="225" src="imgs/v5.webp">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
                                    massa mauris, laoreet
                                    ac egestas ut, vehicula ut elit.
                                    Donec sit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="details_and_booking_admin.html">
                                            <button" class="btn btn-sm btn-outline-secondary">Tell me more</button>
                                        </a>
                                        <a href="update_event.html">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </a>
                                    </div>
                                </div>
                                <small class="text-muted">15$, Oversea</small>
                                <small>Booked</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="card-img-top" width="100%" height="225" src="imgs/v6.webp">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
                                    massa mauris, laoreet ac egestas ut, vehicula ut elit.
                                    Donec sit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="details_and_booking_admin.html">
                                            <button" class="btn btn-sm btn-outline-secondary">Tell me more</button>
                                        </a>
                                        <a href="update_event.html">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </a>
                                    </div>
                                </div>
                                <small class="text-muted">51$, Oversea</small>
                                <small>Upcoming</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



{% endblock %}
