{% extends "base.html" %}{% block header %}
<li class="nav-item">
  <a class="nav-link active" href="{{ url_for('main.content.list_items') }}"
    >Home</a
  >
</li>
{% if current_user.role == 'administrator' %}
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('main.admin.create_event') }}"
    >Create new event</a
  >
</li>
{% endif %}
<li class="nav-item">
  <a class="nav-link" href="{{ url_for('main.order.booking_history') }}"
    >Booking History</a
  >
</li>
{% endblock %} {% block content %}'
<ul class="nav justify-content-center nav-pills">
  <li class="nav-item">
    <a
      class="nav-link{% if type == 'vocal' %} active {% endif %}"
      href="{{ url_for('main.content.list_items', type='vocal') }}"
      >Vocal concerts</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link{% if type == 'classical' %} active {% endif %}"
      href="{{ url_for('main.content.list_items', type='classical') }}"
      >Classical concerts</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link{% if type == 'pop' %} active {% endif %}"
      href="{{ url_for('main.content.list_items', type='pop') }}"
      >Pop concerts</a
    >
  </li>
</ul>
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">{{ type }} concerts</h1>
    </div>
  </div>
</section>
<div class="py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for item in events %}
      <div class="col">
        <div class="card shadow-sm">
          <img
            class="card-img-top"
            src="{{ url_for('static', filename=item.id) }}"
          />
          <div class="card-body">
            <h2 class="card-text">{{ item.name }}</h2>
            <p class="card-text">{{ item.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a
                  href="{{ url_for('main.content.details', event_id=item.id) }}"
                >
                  <button class="btn btn-sm btn-outline-primary">
                    Tell me more
                  </button>
                </a>
                {% if current_user.role == 'administrator' %}
                <a
                  href="{{ url_for('main.admin.update_event', event_id=item.id) }}"
                >
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    Edit
                  </button>
                </a>
                {% endif %} {% if current_user.role == 'administrator' %}
                <a
                  href="{{ url_for('main.admin.delete_event', event_id=item.id) }}"
                >
                  <button type="button" class="btn btn-sm btn-outline-danger">
                    Delete
                  </button>
                </a>
                {% endif %}
              </div>
            </div>
            <small class="text-muted"
              >{{ item.price }}$, {{ item.venue }}</small
            >
            <small>{{ item.status }}</small>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
